:root {
  -webkit-tap-highlight-color: transparent;
}

* {
  margin: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  background-color: #1E201E;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2%;
  height: 100dvh;
  position: relative;
}

.title {
  color: #697565;
  font-weight: bolder;
}

.choices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  margin: 3% 0;
}

.choice {
  font-size: 4rem;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  outline: none;
  filter: drop-shadow(0 0 10px #697565) drop-shadow(0 0 20px #697565) drop-shadow(0 0 30px #697565);
  transition: filter 0.3s ease;
}

.choice:hover {
  filter: drop-shadow(0 0 10px #ECDFCC) drop-shadow(0 0 20px #ECDFCC) drop-shadow(0 0 30px #ECDFCC);
}

#answerSection {
  font-size: 2rem;
  color: #697565;
  font-weight: bold;
  text-align: center;
}

.answer {
  color: #ECDFCC;
  font-weight: normal;
}

#scoreSection {
  font-size: 1rem;
  color: #697565;
  font-weight: bold;
  text-align: center;
}

.score {
  color: #ECDFCC;
  font-weight: normal;
}

#roundOutcome {
  font-size: 4rem;
  font-weight: bolder;
  color: snow;
  visibility: hidden;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 2%;
}

@media (max-width: 768px) {
  footer {
    padding: 5%;
  }
}

.to-home,
.to-home:hover,
.to-home:active,
.to-home:visited {
  color: #ECDFCC;
  text-decoration: none;
}